<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Meshes -->
  <xacro:property name="base_mesh_file"
    value="package://agribot_description/meshes/agribot_baselink.stl"/>

  <xacro:property name="left_wheel_mesh_file"
    value="package://agribot_description/meshes/agribot_left_wheel.stl"/>

  <xacro:property name="right_wheel_mesh_file"
    value="package://agribot_description/meshes/agribot_right_wheel.stl"/>

  <!-- Wheel joint origins (copied from your URDF) -->
  <xacro:property name="lf_xyz" value="0.35606  0.22973 -0.22532" />
  <xacro:property name="lm_xyz" value="0.00635  0.22973 -0.22532" />
  <xacro:property name="lr_xyz" value="-0.29606 0.22973 -0.22532" />

  <xacro:property name="rf_xyz" value="0.35606  -0.22973 -0.22532" />
  <xacro:property name="rm_xyz" value="0.00635  -0.22973 -0.22532" />
  <xacro:property name="rr_xyz" value="-0.29606 -0.22973 -0.22532" />

  <!-- Shared orientation + joint axis -->
  <xacro:property name="wheel_rpy" value="0 0 0"/>
  <xacro:property name="wheel_axis" value="0 1 0"/>

  <!-- For later: controllers/odom math (placeholder until measured) -->
  <xacro:property name="wheel_separation" value="0.51"/> 
  <xacro:property name="wheel_radius" value="0.05"/> 
    <!-- Base inertial (Fusion -> URDF SI units) -->
  <xacro:property name="base_mass" value="4.248128"/>
  <xacro:property name="base_com"  value="0.02623 -0.000536 -0.042696"/>

  <xacro:property name="base_ixx" value="0.1076"/>
  <xacro:property name="base_iyy" value="0.1189"/>
  <xacro:property name="base_izz" value="0.1484"/>
  <xacro:property name="base_ixy" value="0.000001115543"/>
  <xacro:property name="base_ixz" value="-0.003339"/>
  <xacro:property name="base_iyz" value="0.0002084"/>

  <!-- Wheel inertial -->
  <xacro:property name="wheel_mass" value="0.223669"/>
  <xacro:property name="wheel_com"  value="0 0.001512 0"/>

  <xacro:property name="wheel_ixx" value="0.000183"/>
  <xacro:property name="wheel_iyy" value="0.0003286"/>
  <xacro:property name="wheel_izz" value="0.000183"/>
  <xacro:property name="wheel_ixy" value="0.0"/>
  <xacro:property name="wheel_ixz" value="0.0"/>
  <xacro:property name="wheel_iyz" value="0.0"/>


</robot>
